@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");



:root{
    --text-font: "Montserrat", sans-serif;
    --borderRadius : 8px;
    /* --bg-dark : red; */
}

:root[data-theme="dark"] {
  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 10%);
  --bg-light: hsl(0 0% 15%);

  --text: hsl(0, 100%, 99%);
  --text-primary : hsl(0 0 95%);
  --text-secondary: hsl(0 0% 85%);
  --text-muted: hsl(0 0% 70%);
  --text-contrast: hsl(0, 0%, 10%);


  --border: hsl(0 0% 30%);
  --shadow: hsl(0 0% 0% / 0.4);

  --action: hsl(59, 90%, 60%);
  --greenSucces: hsl(134, 61%, 41%);
  --blueEdit: hsl(211, 80%, 45%);      
   
    
  --redDelete: hsl(0, 80%, 45%);
}

:root[data-theme="light"] {
  --bg-dark: hsl(0 0% 85%);
  --bg: hsl(0 0% 90%);
  --bg-light: hsl(0 0% 100%);

  --text: hsl(0 0% 5%);
  --text-secondary: hsl(0 0% 25%);
  --text-muted: hsl(0 0% 45%);
  --text-light: hsl(0 0% 0%);
  --text-contrast: hsl(0 0 90%);

  --border: hsl(0 0% 45%);
  --shadow: hsl(0 0% 50% / 0.4);

  --action: hsl(30, 83%, 26%);
  --greenSucces: hsl(134, 61%, 41%);
  --blueEdit: hsl(211, 80%, 45%);
  --redDelete: hsl(0, 80%, 45%);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--text-font), sans-serif;
}

body{
  background-color: var(--bg-dark);
  color: var(--text);
}

h1{
  font-size: 3rem;
}


.pyramide{
    height: 50vh;
}

.baton {
  display: inline-block;
  width: .6rem; 
  height: 2rem; 
  background: var(--action);
  border-radius: 3px; /* arrondi optionnel */
}

.baton.preview {
  opacity: 0.5;
  transform: scale(0.9);
}

.baton.disappear {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}



.themeToggle { 
    display: flex;
     justify-content: center;
      align-items: center;
     }
      .toggle-btn {
         width: 42px;
          height: 42px;
           border-radius: 50%; 
           border: 1px solid var(--border);
            background-color: var(--bg);
             display: flex;
              justify-content: center;
               align-items: center;
                cursor: pointer;
                 transition: all .3s ease;
                  color: var(--text-secondary);
                 }
                  .toggle-btn i { 
                    font-size: 1.2rem;
                 } 
                 .toggle-btn:hover { 
                    background-color: var(--bg-light); 
                     box-shadow: var(--box-shadow); 
                            color: var(--text-primary);
                    }